body form {

	height: 800px;
	width: 550px;
	align-self: center;
	text-align: center;
	
	border-radius: 7px;
	background-color: orange;
	margin-left: 690px;

}

body h2{

	font-size: 23px;
	margin-top: 15px;
}

body form input{

	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 350px;
	height: 35px;

}

body h1{

	color: white;
	text-align: center;
	margin-bottom: 30px;
}

